<!--Home.hbs
//  CSC648-su19-Team04
//  The Better City
//  Created by Soham on 7/28/19.
//  Copyright © CSC-648/848 Team 04. All rights reserved.
-->


<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="img/favicon.png" type="image/png">
  <title>The Better City</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/themify-icons.css">
  <link rel="stylesheet" href="css/flaticon.css">

  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/animate-css/animate.css">
  <link rel="stylesheet" href="vendors/popup/magnific-popup.css">

  <!-- main css -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/pagination.css">
  <!-- js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://github.com/yckart/jquery.storage.js"></script>
  <script type="text/javascript" src="js/sessionStorage.js"></script>
  <script type="text/javascript" src="js/filterOption.js"></script>
  <script type="text/javascript" src="js/pagination.js"></script>
  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144899618-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-144899618-1');

  </script>
  <script>

    $(document).ready(function () {
      var search_params = new URLSearchParams(document.location.search);
      var category_id = search_params.get('category_id');
      var status_id = search_params.get('status_id');
      var location = search_params.get('location');
      var title = search_params.get('title');
      var pageNo = search_params.get('pageNo') ? parseInt(search_params.get('pageNo')) : 0;
      var from = '{{from}}';
      var to = '{{to}}';
      var total = '{{total}}';
      var search = search_params.get('search');
      var nine = 9;

      var queryString = '/dropdown?';

      if (category_id == null && status_id > 5) {
        queryString = queryString + 'status_id=' + status_id + '&location=' + location;
      }
      else if (search == nine) {
        queryString = queryString + 'search=' + nine + '&title=' + title;
      }
      else {
        queryString = queryString + 'category_id=' + category_id + '&location=' + location;
      }


      $('a#nextBtn').click(function () {
        if (to == total) {
          alert('No next records.')
          return;
        }
        pageNo = pageNo + 1;
        window.location.href = queryString + '&pageNo=' + pageNo;
      });
      $('a#prevBtn').click(function () {
        if (from == 1) {
          alert('No previous records.')
          return;
        }
        pageNo = pageNo - 1;
        window.location.href = queryString + '&pageNo=' + pageNo;
      });

    });
  </script>
</head>

<body>

  {{> header}}

  {{> search}}

  <!-- Start header Menu Area -->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light" style="height:7%">
        <div class="container" style="border-bottom:1px solid lightgray;height:70%">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item"><a class="nav-link" href="/submitIssue">Submit Issues</a></li>
              <li class="nav-item"><a class="nav-link" href="/aboutUs">About Us</a></li>
              <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>


  <main>


    <!-- searcch list  area-->

    {{#if parks }}
    <!-- Title of page -->
    <section class="d-flex justify-content-center">
      <h4>Search Page</h4>
    </section>
    <section style="min-height:50%">
      <div class="container">
        <p class="text-center">Total {{total}} results found. Showing from {{from}} to {{to}} issues.</p>
        {{#each parks}}
        <div class="container">
          <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10 d-flex justify-content-center">
              <div class="card w-75 m-3">
                <div class="card-header">
                  {{title}}
                </div>
                <div class="card-body">
                  <ul class="list-ìnline d-flex justify-content-between">
                    <!-- <li class="list-inline-item">
                        <h6>Date: <b>{{date}}</b></h6>
                      </li> -->
                    <li class="list-inline-item">
                      <h6>Location: <b>{{location}}</b></h6>
                    </li>
                    <li class="list-inline-item">
                      <h6>Category: <b>{{category}}</b></h6>
                    </li>
                    <li class="list-inline-item">
                      <h6>Status: <b>{{status}}</b></h6>
                    </li>
                  </ul>
                  <h6 class="card-title">Description</h6>
                  <p class="card-text">{{description}}</p>
                  {{!-- {{      <a href="#" class="btn btn-primary btn-sm float-sm-right" data-toggle="modal" data-target="#showDetails">Show Details</a>  }} --}}
                  {{!--  <a href="{{issue_id}}" class="btn btn-primary btn-sm float-sm-right">Show Details</a>--}}
                  <a target="_blank" rel="noopener noreferrer" href="/showDetail?issue_id={{issue_id}}"
                    class="btn btn-primary btn-sm float-sm-right">Show Details</a>
                </div>
              </div>
            </div>
            <div class="col-sm-1">

            </div>
          </div>
        </div>
        {{/each}}

    </section>


    <!-- Pagination -->
    <section>
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="layui-box layui-laypage layui-laypage-molv">
            <a class="btn" data-page="2" id="prevBtn">Previous</a>
            <a class="btn" data-page="2" id="nextBtn">Next</a>
          </div>
        </div>
      </div>
    </section>

    {{else}}



    <!-- Title of page -->
    <section class="d-flex justify-content-center">
      <h3>Home Page</h3>
    </section>

    <!-- No Results found -->
    {{#equal parks.length 0 }}
    <section class="d-flex align-items-center" style="height:50%">
            <div class="container">
              <p class="text-center">No records found for current search, try a different category or search keyword</p>
            </div>
          </section>
    {{/equal}}

{{/if}}

{{#if recentIssues }}
    <!--  when nothing is serached  -->
    <section>
      <h5 class="d-flex justify-content-center">Recent Issues</h5>
      <div class="container">
        <div class="row">
          {{#each recentIssues}}

          <div class="col-lg-6 col-sm-12" style="margin-top:15px">
            <div class="card">
              <div class="card-header">
                {{title}}
              </div>
              <div class="card-body">
                <ul class="list-ìnline d-flex justify-content-between">
                  <!-- <li class="list-inline-item">
                      <h6>Date: <b>{{date}}</b></h6>
                    </li> -->
                  <li class="list-inline-item">
                    <h6>Location: <b>{{location}}</b></h6>
                  </li>
                </ul>
                <h6 class="card-title">Description</h6>
                <div class="card-text col-12 text-truncate">{{description}}</div>
                <!-- Show details opens in new tab -->
                <a target="_blank" rel="noopener noreferrer" href="/showDetail?issue_id={{issue_id}}"
                  class="btn btn-primary btn-sm float-sm-right">Show Details</a>

                {{!--  <a href="/showDetail?issueId={{issue_id}}" class="btn btn-primary btn-sm float-sm-right">Show Details</a>--}}
              </div>
            </div>
          </div>
          {{/each}}


        </div>
      </div>
    </section>


    {{/if}}
  </main>

  {{> footer}}


</body>

</html>
