<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vertical prototype testing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>


    form.search input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 90%;
      background: #f1f1f1;
    }

    form.search button {
      float: left;
      width: 10%;
      padding: 8px;
      background: #e6ebef;
      color: black;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
    }

    form.search button:hover {
      background: #0b7dda;
    }

    form.search::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>

</head>
<body>


  <div class="page-header">
    <h2 class="text-center">Team 04</h2>

  <p class="text-center">CSC648-848 Summer 2019 Vertical Prototype test page </p>
</div>




<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
   <form id="tableForm" class =filter action="/getCategory" method="get" >
    <select class="selectpicker" data-style="btn-info" name="category_id">
        <optgroup label="Select Category">
            <option name="All" value="0">All</option>
            <option name="Litter" value="1">Litter</option>
            <option name="Water Polution" value="2">Water Polution</option>
            <option name="Bio-Hazards" value="3">Bio-Hazards</option>
            <option name="Broken City Property" value="4">Broken City Property</option>
            <option name="Other" value="5">Other</option>
        </optgroup>
    </select>
    <input type="submit" />
</form>

</div>

<div class="col-sm-6">
<form class= search action="/search" method="get">
  <input id="search" type ="text" name="title" placeholder="search by title..." class="form-control">
        <button type="submit"><i class="fa fa-search"></i></button>
</form>

   </div>

   <div class="col-sm-2"></div>
 </div>


 <div class="row">
   <div class="col-sm-2"></div>
 <div class="col-sm-8">
   <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Issue_id</th>
      <th scope="col">Title</th>
      <th scope="col">Photo</th>
      <th scope="col">Location</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Status</th>

    </tr>
  </thead>
         {{#each parks}}
    <tr scope="row">
        <td>
            {{issue_id}}
        </td>
        <td>
            {{title}}
        </td>
        <td>
          <img src = "{{photo}}" width="150" height="150">
        </td>
        <td>
            {{location}}
        </td>
        <td>
            {{description}}
        </td>
        <td>
            {{category}}
        </td>
         <td>
            {{status}}
        </td>
    </tr>
    {{else}}
      {{/each}}
</table>

 </div>
</div>
</body>
</html>
